<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/index.css">
    <title>P L A Y G R O U N D</title>
    <script>
        $(function() {
            $.backstretch("images/main.jpg");
        });

    </script>
         <style>
     @import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script&display=swap&subset=korean');
    </style>
</head>

<body>
    <section class="header">
        <div class="title text-center">
            <div><a href="/">놀이동산</a></div>
        </div>
    </section>
    <section class="navbar">
         <div class="navbar-item">
              <a href="/epl" class="sm-link sm-link_text sm-link7" data-sm-link-text="EPL">
            <span class="sm-link__label">EPL</span>
        </a>
            <a href="/laliga" class="sm-link sm-link_text sm-link7" data-sm-link-text="La Liga">
            <span class="sm-link__label"> La Liga</span>
        </a>
           <a href="/bundesliga" class="sm-link sm-link_text sm-link7" data-sm-link-text="Bundesliga">
            <span class="sm-link__label"> Bundesliga</span>
        </a>
            <a href="/seriea" class="sm-link sm-link_text sm-link7" data-sm-link-text="Serie A">
            <span class="sm-link__label"> Serie A</span>
        </a>
           
              <a href="/ligue1" class="sm-link sm-link_text sm-link7" data-sm-link-text="Ligue 1">
            <span class="sm-link__label"> Ligue 1</span>
        </a>
           
           <a href="/eredivisie" class="sm-link sm-link_text sm-link7" data-sm-link-text="Eredivisie">
            <span class="sm-link__label"> Eredivisie</span>
        </a>
            <a href="/chat" class="sm-link sm-link_text sm-link7" data-sm-link-text="유저 채팅">
            <span class="sm-link__label"> 유저 채팅</span>
        </a>
        </div>
    </section>
    <section class="container mt-5">
        <table class="epl table table-hover table-striped bg-light">
            <% var arr = data; %>
            <% arr.forEach(function(el) { %>
                <tr id="tablerow" onclick="location.href = location.origin+'/matchstat?uid=<%=el.uid%>&league=<%=el.league%>'">
                
                <td class="home"><%=el.home%></td>
                <td class="away"><%=el.away%></td>
                <td class="date"><%=el.date%></td>
                <td class="odds">
                    <% if(el.odd != null){ %>
                    승 : <%=el.odd[0].odd%> 무 : <%=el.odd[1].odd%> 패 : <%=el.odd[2].odd%>
                    <% }else { %>
                    경기 시작 전 48시간 이내가 아닙니다.
                    <% } %>
                </td>    
            </tr>
            <% }) %>
        </table>

    </section>

</body>

</html>
